body {  
    color:darkslateblue;  
    background-color: snow;  
    font-size:1.2em;
    font-family:Cambria,Georgia,"Book Antiqua",serif;
    margin-left:20%;
    margin-right:20%;
}
h1 {  
    color:midnightblue;  
    background-color: lightsteelblue;
    font-family:Futura,Georgia,serif;
    text-align: center;
}
h2 {
    font-weight:lighter;
    font-family:"Courier New",Georgia,serif;
}
h3 {  
    background-color: lightsteelblue;
    font-style:italic;
    font-family:Tahoma,Georgia,serif;
    text-decoration: overline;
    margin-top:2em;
}
em {
    background-color: lemonchiffon;
}
a:link {  
    color:blue;  
}
a:visited {  
    color:darkgreen;  
}
a:hover {  
    color:purple;
    text-decoration: overline;
}
a:active {  
    color:orange;  
}
h2, h3 {
    color: darkgreen;
}
p em {
    color: black;
    font-weight: bolder;
}
p.intro {
    font-style: italic;
    width:80%;
    padding:5%;
    background-color:aliceblue;
    border-style:dotted;
    margin-left:5%;
    text-align:center;
}
p.background {
    background-color: seashell;
    text-indent:2em;
}
p.items {
    background-color:lavender;
    text-indent:2em;
}
p.names {
    font-weight: bold;
}
img#gcpimage {  
    width:30%;  
    float:left;
    padding-right:2em;
    padding-bottom:.8em;
    padding-top:3.7em;
}
img#oconnorimage {  
    width:30%;
}
h3#introheader {
    font-size:1.4em;
}
div.name {
    padding:5%;
    margin-bottom:5%;
    background-color:aliceblue;
    border-style:dashed;
}
div.flexible {  
    display:flex;  
}
div.navigation, div.foot {
    width:40%;
    text-align:center;
    background-color: lightgray;
    padding-top:3%;
    padding-bottom:3%;
    border-style:double;
}
div.foot {
    margin-top:3%;
}
