body {  
    color:darkslateblue;  
    background-color: snow;  
    font-size:1.2em;
    font-family:Cambria,Georgia,"Book Antiqua",serif;
    margin-left:20%;
    margin-right:20%;
}
h1, h3 {
    background-color: lightsteelblue;
}
h1, h2, p.intro {
    text-align:center;
}
h2, h3 {
    color: darkgreen;
}
h1 {  
    color:midnightblue;
    font-family:Futura,Georgia,serif;
}
h2 {
    font-weight:lighter;
    font-family:"Courier New",Georgia,serif;
}
h3 { 
    font-style:italic;
    font-family:Tahoma,Georgia,serif;
    text-decoration: overline;
    margin-top:2em;
}
em {
    background-color: lemonchiffon;
}
a:link {  
    color:blue;  
}
a:visited {  
    color:darkgreen;  
}
a:hover {  
    color:purple;
    text-decoration: overline;
}
a:active {  
    color:orange;  
}
p em {
    color: black;
    font-weight: bolder;
}
p {
    line-height:1.4em;
    font-size:1.1em;
}
p.intro {
    font-style: italic;
    width:80%;
    padding:5%;
    background-color:aliceblue;
    border-style:dotted;
    margin-left:5%;
}
p.background, p.items, p.names {
    text-indent:2em;
}
p.background {
    background-color: seashell;
}
p.items {
    background-color:lavender;
}
p.names {
    font-weight: bold;
}
img#gcpimage {  
    width:30%;  
    float:left;
    padding-right:2em;
    padding-bottom:.8em;
}
img#oconnorimage {  
    width:30%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
img#oconnorimage:hover {  
    width:50%;
}
h3#introheader {
    font-size:1.4em;
}
div.name {
    padding:5%;
    margin-bottom:5%;
    background-color:aliceblue;
    border-style:dashed;
}
div.flexible {  
    display:flex;  
}
div.navigation, div.foot {
    width:40%;
    text-align:center;
    background-color: lightgray;
    padding-top:3%;
    padding-bottom:3%;
    border-style:double;
}
div.foot {
    margin-top:3%;
}
p.citations {
    padding-left:2em;
    text-indent:-2em;
}
p.citations em {
    font-weight:normal;
    background-color:seashell;
}
button {
    display:block;
    margin:2% auto;
}
@media (max-width: 1000px) {
    body {
        margin-left:5%;
        margin-right:5%;
    }
    img#oconnorimage {
        width:40%;
    }
    p {
        font-size:.9em;
    }
}
@media (orientation:portrait) {
    footer div.flexible {
        display:block;
    }
    div.foot {
        width:90%;
        margin:0 auto;
    }
    p.citations a {
        word-wrap:break-word;
    }
    h1 {
        font-size:.9em;
    }
    img#gcpimage {
        padding-right:1em;
        padding-bottom:.2em;
    }
}
img#oconnorimage2 {
    width:50px;
}
